.register-img {
    background: url("../assets/images/regimg.jpeg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.register_container {
    position: relative;
    width: 100%;
    padding: 4%;
}

.form-control {
    display: block;
    width: 100%;
    max-width: 600px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn_register {
    width: 100%;
    max-width: 400px;
}

.form-horizontal {
    position: absolute;
}